{{template "base" .}}

{{define "content"}}
    <div class="container">

        <div class="row">
            <div class="col">
                <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room-images">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">General rooms</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, at consequuntur deleniti deserunt
                    dolorum rem suscipit! Ab asperiores atque consectetur consequatur cupiditate deserunt dolore,
                    doloremque earum eius error esse est eveniet id illo impedit, iure nesciunt nostrum odio odit
                    officia, officiis pariatur porro quam sapiente sed sit sunt velit veritatis vitae voluptates. A
                    adipisci laborum maiores modi necessitatibus, repellat sapiente voluptatum. Aliquam consequatur,
                    consequuntur cum debitis dignissimos distinctio dolor esse ex explicabo fuga ipsa iste iure laborum
                    modi, nulla numquam omnis quas quidem reiciendis rerum soluta tempora tenetur velit, veniam
                    veritatis. Cupiditate, dignissimos doloribus eaque eos impedit inventore modi, obcaecati optio
                    recusandae soluta tenetur, vitae. Accusamus aliquid commodi deserunt ea illo magnam molestiae
                    officia quae voluptatibus! Ad eaque quidem soluta.</p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
            </div>
        </div>


    </div>
{{end}}

{{define "js"}}
    <script>
        document.getElementById("check-availability-button").addEventListener("click", function (){
            // notify("This is my message", "success")
            // notifyModal("title", "<em>hello, world</em>", "success", "My Text for the Button")
            let html = `
    <style>
    .swal2-html-container{
        overflow: hidden;
    }

    </style>

    <form id="check-availability-form" action="" method="post" novalidate class="needs-validation" autocomplete="off">
        <div class="row g-3">
            <div class="col">
                <div class="row g-2" id="reservation-dates-modal">
                    <div class="col">
                    <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                    </div>
                    <div class="col">
                    <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                    </div>
                </div>
            </div>
        </div>
    </form>
    `
            attention.custom({
                msg: html,
                title: "Choose your dates",

                willOpen: () => {
                    const elem = document.getElementById('reservation-dates-modal');
                    const rp = new DateRangePicker(elem, {
                        format: 'yyyy-mm-dd',
                        orientation: 'left top',
                        showOnFocus: true,
                    })
                },

                didOpen: () => {
                    document.getElementById('start').removeAttribute('disabled');
                    document.getElementById('end').removeAttribute('disabled');
                },
                
                callback: function(result) {
                    console.log("called");

                    let form = document.getElementById("check-availability-form")
                    let formData = new FormData(form)
                    formData.append("csrf_token", "{{.CSRFToken}}")

                    fetch('/search-availability-json', {
                        method: "post",
                        body: formData,
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data)
                            console.log(data.ok)
                            console.log(data.message)
                        })
                }
            })
        })
    </script>
{{end}}